.wrapper-container1 {
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;

    border: 1px solid var(--lines-color);

    display: flex;
    align-items: center;
    box-sizing: border-box;

    transition: all 0.2s ease;
}

.wrapper-container2 {
    width: 100%;
    height: 100%;

    background-color: transparent;
    box-sizing: border-box;

    display: flex;
    box-sizing: border-box;

    transition: all 0.2s ease;

    position: relative;
}

.wrapper-container3 {
    width: 100%;

    background-color: transparent;
    box-sizing: border-box;
    
    border-radius: 0px;

    display: flex;
    align-items: center;
    box-sizing: border-box;

    transition: all 0.2s ease;
}

.wrapper-container3:hover {
    border-radius: 20px;
}

.wrapper-container4 {
    width: 100%;

    box-sizing: border-box;
    display: flex;

    border-radius: 20px;

    position: relative;

    background-color: var(--all-info-container-color);
}