:root{
    --navbar-color: #3366cc;
    --main-body-color: #EEFAFF;
    --main-title-color: #681d35;
    --light-gray-color: rgba(236,236,236,0.7);
    --confirm-color: #069169;
    --cancel-color: #D31F3F;
    --time-color: #3366cc;
    --gov-accesibility-card: #E0161E;
    --black-to-white-color: #000000;
    --white-to-black-color: #FFFFFF;
    --lines-color: #681d35;
    --lines-color2: #681d35;
    --text-color: #717171;
    --all-info-container-color: #E6EFFD;


    --icon-colors: #DCDCDC;
    --footer-color:  rgba(104, 29, 53, 1);

    --navbar-height: 150px;



    --text-color: #7F7F7F;

    --filters-input-color: #FFF;

    --white: rgba(255,255,255,1);
    --white-025: rgba(255,255,255,.25);
    --white-05: rgba(255,255,255,.5);
    --white-075: rgba(255,255,255,.75);
    --white-095: rgba(255,255,255,0.95);

    --black: rgba(0,0,0,1);
    --black-025: rgba(0,0,0,0.25);
    --black-05: rgba(0,0,0,0.5);

    --tool-tip-map-text-color: #7B7B7B;

    --result-text-card: #7B7B7B;
    --results-card-hover: rgba(250,250, 250);
    --municipio-card-clicked: #F2F2F2;
    --results-image-hover: rgba(0,0,0, 0.20);

    --delete-selection-button-color: #DA4F6A;
}

@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf');
}
@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../../assets/fonts/Montserrat/Montserrat-Regular.ttf');
}
@font-face {
    font-family: "WorkSans-Regular";
    src: url("../../assets/fonts/Work_Sans/static/WorkSans-Regular.ttf");
}

html {
    scroll-behavior: smooth;
}

p, span, div, h2, h1 {
    font-family: "Montserrat-Regular" !important;
    margin: 0 !important;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--main-body-color) !important;

    transition: all 0.2s ease;
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none !important;
    color: transparent;
}
button {
    border: none;
}

svg {
    width: 30px;
    height: 30px;
}

.border-left-style {
    border: none !important;
    border-left: 1px solid var(--gov-accesibility-card) !important;
}

.shadow-style {
    transition: all 0.15s ease !important;
}
.shadow-style:hover {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25) !important;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25) !important;
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.25) !important;
}