.barra-superior-govco {
	background-color: var(--navbar-color);
	height: 48px;
	padding: 0 86px;

	display: flex;
	align-items: center;
	justify-content: space-between;
}

.barra-superior-govco > a {
	content: url(https://cdn.www.gov.co/assets/images/logo.svg);
	height: 1.875rem;
	width: 8.5rem;
}

.barra-superior-govco > a:focus-visible {
	outline: max(0.125rem, 0.15em) solid var(--white);
	border-radius: 0.313rem;
}
  

  
.logo-aut-header-govco {
	position: relative;
	margin-bottom: 2rem;
}
  
.logo-aut-header-govco .link-login-header-govco {
	color: var(--navbar-color);
	font-family: "WorkSans-Regular";
	font-size: 14px;
	display: block;
	right: 5.375rem;
	position: absolute;
	margin-top: 2rem;
}

.logo-aut-header-govco .link-login-header-govco:hover {
	color: var(--navbar-color);
}
  

  
@media (max-width: 991px) {
	.logo-aut-header-govco {
		display: none;
	}

	.container-logo-header-govco {
		padding: 0.781rem 0 0.781rem 1.125rem;
		border-bottom: 0.188rem solid var(--navbar-color);
	}

	.container-logo-header-govco .logo-header-govco {
		height: 2.188rem;
	}
	.barra-superior-govco {
		justify-content: center;
		padding: 0;
  	}

  	.barra-superior-govco .idioma-icon-barra-superior-govco  {
    	right: 1rem;
  	}
}